@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Brandon Grotesque';
  src: url('http://127.0.0.1:8000/Brandon%20Grotesque%20Regular.ttf') format('woff2'),
       url('http://127.0.0.1:8000/Brandon%20Grotesque%20Regular.ttf') format('woff');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque Black';
  src: url('http://127.0.0.1:8000/Brandon%20Grotesque%20Regular.ttf') format('woff2'),
       url('http://127.0.0.1:8000/Brandon%20Grotesque%20Regular.ttf') format('woff');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque Medium';
  src: url('/fonts/BrandonGrotesque-Medium.woff2') format('woff2'),
       url('/fonts/BrandonGrotesque-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Brandon Grotesque Light';
  src: url('/Brandon%20Grotesque%20Regular.ttf') format('woff2'),
       url('/Brandon%20Grotesque%20Regular.ttf') format('woff');
  font-weight: 300;
  font-style: normal;
}
.font-brandon-grotesque { font-family: 'Brandon Grotesque', sans-serif; }
.font-brandon-grotesque-black { font-family: 'Brandon Grotesque Black', sans-serif; }
.font-brandon-grotesque-medium { font-family: 'Brandon Grotesque Medium', sans-serif; }
.font-brandon-grotesque-light { font-family: 'Brandon Grotesque Light', sans-serif; }

[x-cloak] {
    display: none;
}

.min-h-screen {   
    background-image: url('../images/background2.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Brandon Grotesque', sans-serif;
}
.register-form,
.login-form 
{
  border: 4px double #eeee; 
}
.login-form input[type="text"],
.login-form input[type="email"],
.login-form input[type="password"],
.register-form input[type="text"],
.register-form input[type="email"],
.register-form input[type="password"]
 {
    background: #00000054;
    border: unset;
    border-radius: 0;
    border-bottom: 1px solid #ddd;
    color: #ffffff;
}
.register-form input[type="checkbox"],
.login-form input[type="checkbox"] 
{
    width: 20px;
    height: 20px;
    border-radius: 0;
    border: 1px solid #494949;
    background-color: #494949;
}
.login-form input[type="checkbox"]:checked,
.register-form input[type="checkbox"]:checked 
{
    background-color: #0c0c0c;
    border-color: #ddd;
}
.login-form input[type="checkbox"]::before,
.register-form input[type="checkbox"]::before 
{
    content: '*';
    color: red;
    font-size: 20px;
    position: relative;
    top: -15px;
    left: -10px;
}
.login-form input[type="checkbox"]:focus, 
.register-form input[type="checkbox"]:focus 
{
    outline: none;
    border-color: #000000;
}
.login-form button[type="submit"],
.register-form button[type="submit"]
{
    background-color: #0c0c0c;
    color: #ffffff;
    border: 1px solid #494949;
    padding: 10px 35px;
    border-radius: 0;
    cursor: pointer;
    text-transform: capitalize;
}


.flex-column-center {
    display: flex;
    justify-content: center;
    flex-direction: column;
}


.min-h-screen:has(.intro-page) {
    background-image: unset !important;
    background-color: #1D1D1D !important;
    padding-top: 2%;
}